.panel-default {
  overflow: hidden;
}

.col-side {
  @media (min-width: 992px) {
    padding-right: 0;
  }
  @media (max-width: 992px) {
    padding: 15px;
  }
}

.col-main {
  @media (min-width: 992px) {
    min-height: 600px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -15px;
      bottom: -15px;
      width: 0;
      height: 1000%;
      border-left: solid 1px #eee;
    }
    padding: 15px 30px !important;
  }
  @media (max-width: 992px) {
    border-top: solid 1px #f0f0f0;
    padding: 15px;
  }
}

@media (min-width: 992px) {
  .locales {
    width: 100px;
    text-align: right;
  }
}